@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color:#000000;">Index</h1>
    <component type="typeof(CMS.Client.UI.Components.PageEntry)" render-mode="ServerPrerendered" />
</div>
